@using System.Text.RegularExpressions
@model Product

@{
    ViewData["Title"] = "Gaming PC";

    // trim full cpu name (shorthand for title):
    string? cpuShorthand = Model.Description.CPU;
    string? gpuShorthand = Model.Description.GPU;
    string num = Regex.Match(cpuShorthand, @"\d+").Value;
    int i = cpuShorthand.IndexOf(num);
    if (i >= 0) 
        cpuShorthand = cpuShorthand.Substring(0, i + 1);

    // trim full gpu name (shorthand for title):
    RegexOptions options = RegexOptions.IgnoreCase;
    MatchCollection matches = Regex.Matches(gpuShorthand, "r", options);
    if (matches.Count >= 2)
    {
        int j = matches[1].Index;
        gpuShorthand = gpuShorthand.Substring(j);
    }
}

<head>
    <link rel="stylesheet" href="~/css/productDetails.css" asp-append-version="true" />
</head>

<main>
    <div class="hero-section">
        <div class="back">
            <a asp-controller="Product" asp-action="GamingPCs"><-Back to Products</a>
        </div>

        <div class="content">
            <section class="content-left">
                <img class="hero-img" src="@Url.Content(@Model.Image)" />
            </section>

            <div class="content-right">
                <section class="hero-title">
                    <header>@Model.Title</header>
                    <p class="title-specs">@cpuShorthand | @gpuShorthand | Prebuilt Gaming PC</p>
                    <p class="title-price">£@Model.Price.00</p>
                    
                    <a href="#ex1" rel="modal:open">PCs Built in 2 Business Days</a>
                    <div id="ex1" class="modal">
                        <h2>Processing Timeframe</h2>
                        <p>Prebuilt & Custom PCs roughly 2 business days.</p>
                        <p>We appreciate your patience as our team work hard to fulfill your orders!</p>
                    </div>
                </section>
    
                <section class="hero-specification">
                    <header>Specification</header>
                    <p class="title-config">Current Configuration</p>
                    <h3>CPU</h3>
                    <p>@Model.Description.CPU</p>
                    <h3>GPU</h3>
                    <p>@Model.Description.GPU</p>
                    <h3>Memory</h3>
                    <p>@Model.Description.Memory</p>
                    <h3>Motherboard</h3>
                    <p>@Model.Description.Motherboard</p>
                    <h3>Storage</h3>
                    <p>@Model.Description.Storage</p>
                    <h3>PSU</h3>
                    <p>@Model.Description.PSU</p>
                </section>
            </div>
        </div>
    </div>
</main>

<section class="cart-sticky">
   
    <div class="sticky-container">
        <section class="sticky-left">
            <header>@Model.Title</header>
            <p class="sticky-specs">@cpuShorthand | @gpuShorthand | Prebuilt Gaming PC</p>
        </section>

        <section class="sticky-right">
            <p class="title-price">£@Model.Price.00</p>
            <a asp-controller="" asp-action="">Add to Cart</a>
        </section>
    </div>

</section>