@model Product

@{
    ViewData["Title"] = "Gaming PC";
}

<head>
    <link rel="stylesheet" href="~/css/productDetails.css" asp-append-version="true" />
</head>

<head>
    <style>
        img {
            width: 280px;
            height: 280px;
            object-fit: cover;
        }
    </style>
</head>

<main>
    <section class="hero-section">
        @* <p hidden>@Model.Id</p> *@
        <a asp-controller="Product" asp-action="GamingPCs" style="display:block;">Back to Products</a>
        <img src="@Url.Content(@Model.Image)" />
    </section>

    <div class="hero-description">
        <section class="hero-title">
            <header>@Model.Title</header>
            @* <p>@Model.Description</p> *@
            <h2>£@Model.Price</h2>
            <a asp-controller="Product">PCs Built in 2 Business Days</a>
        </section>
    
        <section class="hero-specification">
            <header>Specification</header>
            <p>Current Configuration</p>
            <h3>CPU</h3>
            <h3>GPU</h3>
            <h3>Memory</h3>
            <h3>Motherboard</h3>
            <h3>Storage</h3>
            <h3>PSU</h3>
            @* <p>@Model.Description</p> *@
        </section>
    </div>
</main>

<section class="sticky">

</section>
