@model ShoppingCartViewModel

@{
    ViewData["Title"] = "View Cart";
}

<head>
    <link rel="stylesheet" href="~/css/cart.css" asp-append-version="true" />
</head>

<div class="container">
    <section class="lhs-content">
        <header class="lhs-header">
            <h1>Cart</h1>
            <p>( @Model.TotalQuantity )</p>
        </header>

        <ul>
            @foreach (var item in Model.CartItems)
            {
                <li>
                    <div class="img-container">
                        <img src="@Url.Content(@item.Product.Image)"
                             alt="image failed to load..."
                             class="thumbnail" />
                    </div>

                    <div class="product-details">
                        <div class="title-quantity">
                            <h1>@item.Product.Title</h1>
                            <div class="quantity-btn">
                                <a asp-controller="ShoppingCart" asp-action="RemoveItem" asp-route-id="@item.Product.Id">-</a>
                                <p>@item.Quantity</p>
                                <a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-id="@item.Product.Id">+</a>
                            </div>
                        </div>

                        <div class="delete-price">
                            <a asp-controller="ShoppingCart" asp-action="RemoveAll" asp-route-id="@item.Product.Id">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                            <p>@item.Product.Price.ToString("C")</p>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </section>

    <section class="rhs-content">
        <div class="rhs-inner">
            <header class="rhs-header">
                <h1>Summary</h1>
                <p>Subtotal @Model.TotalPrice.ToString("C")</p>
            </header>

            <div class="taxes">
                <p>Taxes</p>
                <p>Included</p>
            </div>
            <div class="est-shipping">
                <p>Estimated shipping</p>
                <p>Calculated at checkout</p>
            </div>

            <div class="terms-conditions">
                <input type="checkbox" name="terms" />
                <label for="terms">I accept the terms and conditions of service</label>
            </div>
        
            <div class="terms-conditions">
                <input type="checkbox" name="privacy" />
                <label for="privacy">I have read the privacy policy</label>
            </div>

            <div class="btn-parent">
                <a asp-controller="" asp-action="" type="submit" class="btn">Proceed to Checkout</a>
            </div>
        </div>
    </section>
</div>
