@model ShoppingCartViewModel

@{
    ViewData["Title"] = "View Cart";
}

<h1>Shopping Cart</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CartItems)
        {
            <tr>
                <td>@item.Product.Title</td>
                <td>@item.Product.Price.ToString("C")</td>
                <td>@item.Quantity</td>
                <td>@((item.Product.Price * item.Quantity).ToString("C"))</td>
                <td>
                    <a asp-controller="ShoppingCart" asp-action="RemoveItem" asp-route-id="@item.Product.Id">Remove</a>
                </td>
            </tr>
        }
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Total:</td>
            <td>@Model.TotalPrice.ToString("C")</td>
        </tr>
    </tbody>
</table>