@model IEnumerable<Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Admin Dashboard</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="container">
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <span>@item.Title</span>
                <img src="@Url.Content(@item.Image)"
                     alt="image failed to load..."
                     class="thumbnail"
                     style="width: 80px; height: 80px" />

                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </li>
        }
    </ul>
</div>
